<!-- HTML COMPONENTE ENCABEZADO DE PÁGINA - REUTILIZABLE -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">

    <!-- HTML COMPONENTE BOTON "<-" DE ENCABEZADO DE PÁGINA - REUTILIZABLE -->
    <ion-buttons slot="start">

      <!-- Botón de Retorno, visible si backButton existe - páginas hijas de Auth -->
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>

      <!-- Botón de Retorno, visible si estoy desde Modal -->
      <ion-button *ngIf="isModal" id="present-alert1">
        <ion-icon name="close-circle-outline"></ion-icon>
          <ion-alert mode="ios"
            trigger="present-alert1"
            header="ADVERTENCIA: Cierre de Formulario"
            subHeader="¿Está Seguro de Cerrar Formulario?"
            message="Se perderán los datos sin guardar"
            [buttons]="alertCloseModal"
            (didDismiss)="setResult2($event)"
          ></ion-alert>
      </ion-button>

      <!-- Botón de logout, visible si estoy desde Home -->
      <ion-button *ngIf="isHome" id="present-alert2">
        <ion-icon name="arrow-back-outline"></ion-icon>
          <ion-alert mode="ios"
            trigger="present-alert2"
            header="ADVERTENCIA: Cierre de Sesión"
            subHeader="¿Está Seguro que desea Cerrar Sesión?"
            message=""
            [buttons]="alertSingOut"
            (didDismiss)="setResult($event)"
          ></ion-alert>
      </ion-button>

    </ion-buttons>



    <!-- TEXTO TÍTULO DE ENCABEZADO DE PÁGINA - REUTILIZABLE -->
    <!-- SE PASA COMO PARÁMETRO DESDE EL LLAMADO             -->
    <!--         <APP-HEADER title:"">    </APP-HEADER>      -->
    <ion-title>
      <strong>{{title}} </strong>

      <!-- TEXTO FIJO PARA EL COMPONENTE HEADER -->
      <div class="segundalineaHeader">
        i-Report
      </div>

    </ion-title>

  </ion-toolbar>
</ion-header>