<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-grid class="bordered-grid">
      <!-- Fila 1 -->
      <ion-row>
        <ion-col size="2">
          <label>Central</label>
        </ion-col>
        <ion-col size="1" class="minimal">:</ion-col>
        <ion-col size="3">
          <ion-input
            control="form.controls.central"
            type="text"
            >
            <ion-select slot="start" [(ngModel)]="selectedCentral" interface="popover">
              <ion-select-option *ngFor="let central of centrales" [value]="central.NombreCentral">
                {{ central.NombreCentral }}
              </ion-select-option>
            </ion-select>
          </ion-input>
          <!-- <app-inputs
            autocomplete="central"
            [control]="form.controls.central"
            type="text"
            label="Central"
          ></app-inputs> -->
        </ion-col>

        <ion-col size="2">
          <label>Instalación</label>
        </ion-col>
        <ion-col size="1" class="minimal">:</ion-col>
        <ion-col size="3">
          <app-inputs
            autocomplete="instalacion"
            [control]="form.controls.instalacion"
            type="text"
            label="Instalación"
          ></app-inputs>
        </ion-col>
      </ion-row>

      <!-- Fila 2 -->
      <ion-row>
        <ion-col size="2">
          <label>N° de PT</label>
        </ion-col>
        <ion-col size="1" class="minimal">:</ion-col>
        <ion-col size="3">
          <app-inputs
            autocomplete="nropt"
            [control]="form.controls.nroPT"
            type="text"
            label="N° de PT"
          ></app-inputs>
        </ion-col>

        <ion-col size="2">
          <label>Responsable</label>
        </ion-col>
        <ion-col size="1" class="minimal">:</ion-col>
        <ion-col size="3">
          <app-inputs
            autocomplete="responsable"
            [control]="form.controls.responsable"
            type="text"
            label="Responsable"
          ></app-inputs>
        </ion-col>
      </ion-row>

      <!-- Fila 3 -->
      <ion-row>
        <ion-col size="2">
          <label>N° de OT</label>
        </ion-col>
        <ion-col size="1" class="minimal">:</ion-col>
        <ion-col size="3">
          <app-inputs
            autocomplete="nroot"
            [control]="form.controls.nroOT"
            type="text"
            label="N° de OT"
          ></app-inputs>
        </ion-col>

        <ion-col size="2">
          <label>Fecha de Ejecución</label>
        </ion-col>
        <ion-col size="1" class="minimal">:</ion-col>
        <ion-col size="3">
          <!-- Botón de DateTime para Fecha de Ejecución -->
          <ion-datetime-button datetime="fechaejecucion"></ion-datetime-button>
        </ion-col>
      </ion-row>

      <!-- Fila 4 -->
      <ion-row>
        <ion-col size="2">
          <label>N° de Aviso</label>
        </ion-col>
        <ion-col size="1" class="minimal">:</ion-col>
        <ion-col size="3">
          <app-inputs
            autocomplete="nroaviso"
            [control]="form.controls.nroAviso"
            type="text"
            label="N° de Aviso"
          ></app-inputs>
        </ion-col>

        <ion-col size="2">
          <label>Fecha de Informe</label>
        </ion-col>
        <ion-col size="1" class="minimal">:</ion-col>
        <ion-col size="3">
          <!-- Botón de DateTime para Fecha de Informe -->
          <ion-datetime-button datetime="fechainforme"></ion-datetime-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Modal para los selectores de fecha -->
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="fechaejecucion"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="fechainforme"></ion-datetime>
      </ng-template>
    </ion-modal>

    <!-- Botón para enviar el formulario -->
    <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
      Agregar Reporte
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>
